<%- include('header') -%>
<%- include('menu') -%>
<div class="container justify-content-center mt-5">
    <div>
        <h1>Blog</h1>
    </div>
    <div class="row col-12">
        <div class="mt-5">
            <div
                    class="card"
                    style="max-width: 600px; margin-left: auto; margin-right: auto"
            >
                <div class="card-header">Bejegyzés név</div>
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                        lobortis ex vel aliquet placerat. Orci varius natoque penatibus
                        et magnis dis parturient montes, nascetur ridiculus mus.
                        Curabitur eget ultricies magna.
                    </p>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <div
                    class="card"
                    style="max-width: 600px; margin-left: auto; margin-right: auto"
            >
                <div class="card-header">Bejegyzés név</div>
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                        lobortis ex vel aliquet placerat. Orci varius natoque penatibus
                        et magnis dis parturient montes, nascetur ridiculus mus.
                        Curabitur eget ultricies magna.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer') -%>