<div>
    <nav
            class="navbar navbar-expand-lg navbar-light"
            style="background-color: #831f29"
    >
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img
                        src="https://via.placeholder.com/150"
                        alt=""
                        width="30"
                        height="30"
                />
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"
                        >Főoldal</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events">Események</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <% if (typeof user_id !== 'undefined'){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Profilom</a>
                        </li>
                    <% } %>
                    <% if (typeof authority !== "undefined" && authority === "Admin"){ %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/newevent">Esemény létrehozása</a></li>
                                <li><a class="dropdown-item" href="#">Blogposzt létrehozása</a></li>
                                <li><a class="dropdown-item" href="/users">Felhasználók szerkesztése</a></li>
                            </ul>
                        </li>
                    <% } %>
                </ul>
                <div class="d-flex">
                    <% if (typeof user_id !== 'undefined'){ %>
                        <a class="btn btn-outline-light-light" href="/logout">
                            Kijelentkezés
                        </a>
                    <% } else if (typeof user_id === 'undefined'){ %>
                        <a class="btn btn-outline-light-light" href="/login">
                            Bejelentkezés
                        </a>
                    <% } %>

                </div>
            </div>
        </div>
    </nav>
</div>