<%- include('header', {title: "Regisztráció"}) -%>
<div class="container w-50 mt-5">
    <div class="row mb-5 col-12">
        <h1>Regisztráció</h1>
    </div>
    <div class="row col-12 shadow p-5 mb-5 bg-body rounded">
        <form method="post">
            <div class="mb-3 p-2">
                <div class="form-floating">
                    <input
                            type="text"
                            class="form-control"
                            id="username"
                            name="username"
                            placeholder="Felhasználónév"
                    />
                    <label for="username">Felhasználónév</label>
                </div>
            </div>
            <div class="mb-3 p-2">
                <div class="form-floating">
                    <input
                            type="text"
                            class="form-control"
                            id="fullName"
                            name="fullName"
                            placeholder="Teljes név"
                    />
                    <label for="fullName">Teljes név</label>
                </div>
            </div>
            <div class="mb-3 p-2">
                <div class="form-floating">
                    <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="E-mail cím"
                    />
                    <label for="email">E-mail</label>
                </div>
            </div>
            <div class="mb-3 p-2">
                <div class="form-floating">
                    <input
                            type="text"
                            class="form-control"
                            id="idCard"
                            name="idCard"
                            placeholder="Személyi igazolvány szám"
                    />
                    <label for="idCard">Személyi igazolvány szám</label>
                </div>
            </div>

            <div class="mb-3 p-2">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="type"
                    >Mi vagy</label
                    >
                    <select class="form-select" name="livingType" id="type">
                        <option selected>Válassz...</option>
                        <option value="sch">Kolis</option>
                        <option value="vik">VIK-es</option>
                        <option value="out">Külsős</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 p-2">
                <div class="form-check">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value="Yes"
                            name="hostelCard"
                            id="hostelCard"
                    />
                    <label class="form-check-label" for="hostelCard">
                        Van kollégiumi kártyád?
                    </label>
                </div>
            </div>

            <div class="mb-3 p-2">
                <div class="form-floating">
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Jelszó"
                    />
                    <label for="password">Jelszó</label>
                </div>
            </div>
            <div class="mb-3 p-2">
                <div class="form-floating">
                    <input
                            type="password"
                            class="form-control"
                            id="password2"
                            name="password2"
                            placeholder="Jelszó még egyszer"
                    />
                    <label for="password2">Jelszó még egyszer</label>
                </div>
            </div>
            <div class="mb-3 p-2">
                <input type="submit" class="btn btn-primary" value="Regisztrálás" />
                <a class="btn btn-danger" href="/login">Mégse</a>
            </div>
        </form>
    </div>
</div>
<%- include('footer') -%>