<%- include('header', {title: "Felhasználók listája"}) -%>
<%- include('menu') -%>
<div class="container mt-5">
    <div class="row">
        <h1>Felhasználók listája</h1>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Teljes név</th>
                    <th>Felhasználónév</th>
                    <th>Poszt</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mark</td>
                    <td>markvagyoklol</td>
                    <td>tag</td>
                    <td style="width: 30px; white-space: nowrap">
                        <a href="#" class="btn btn-sm btn-primary">
                            <i class="fa-solid fa-user-pen"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>jacobbaaaa</td>
                    <td>felhasználó</td>
                    <td style="width: 30px; white-space: nowrap">
                        <a href="#" class="btn btn-sm btn-primary">
                            <i class="fa-solid fa-user-pen"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Béla</td>
                    <td>belaaavok</td>
                    <td>felhasználó</td>
                    <td style="width: 30px; white-space: nowrap">
                        <a href="#" class="btn btn-sm btn-primary">
                            <i class="fa-solid fa-user-pen"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('footer') -%>
